                        </div>



                    </div>
<!-- /inner-wrapper -->
                </div>
<!-- /row -->
            </div>
<!-- /container -->
        </div>
<!-- /segment-content -->




<div id="segment-footer" class="segment">
    <!-- segment-footer -->
    <div class="container">
        <!-- container -->
        <div class="inner-wrapper">
            <p>
                &copy; HL7.org 2011+. FHIR DSTU (v0.3.0-2952) generated on Wed, Oct 1, 2014 01:31+0000. <!-- <a href="qa.html">QA Report</a> --> <!-- achive note -->
                <br />
                <span style="color: #FFFF77">

                </span>
            </p>
        </div>
        <!-- /inner-wrapper -->
    </div>
    <!-- /container -->
</div>

<div id="segment-post-footer" class="segment hidden">
    <!-- segment-post-footer -->
    <div class="container">
        <!-- container -->
    </div>
    <!-- /container -->
</div>


    </body>
</html>

